<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"></title>
    <th:block th:replace="~{components/head}"> </th:block>
</head>
<body class="bg-zinc-900 text-gray-300">

    <nav th:replace="~{components/navbar}"></nav>

    <main class="container mx-auto py-20 fixed-grid has-1-cols">
        <a sec:authorize="isFullyAuthenticated()"
           class="button is-success"
           th:href="@{/blog/new}">Nuevo Articulo</a>
        <div class="grid my-4">
            <article class="flex justify-between items-center cell my-2" th:each="post: ${posts}">
                <div>
                    <a th:href="@{/blog/view/{id}(id=${post.id})}" class="text-lg text-white font-semibold" th:text="${post.getTitle()}"></a>
                    <br>
                    <span class="text-sm text-white" th:text="'Autor: '+ ${post.getUser().getUser()}"></span>
                </div>
            </article>
        </div>
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a th:if="${pageNumber > 0}" th:href="@{'/blog?page='+${pageNumber - 1}}" class="pagination-previous">Página Anterior</a>
            <a th:if="${pageNumber != posts.getTotalPages() - 1}" th:href="@{'/blog?page='+${pageNumber + 1}}" class="pagination-next">Siguiente Página</a>
        </nav>
    </main>
</body>
</html>