<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="${title}"></title>
    <th:block th:replace="~{components/head}"> </th:block>
</head>
<body class="bg-gray-900">

    <nav th:replace="~{components/navbar}"></nav>

    <main class="container mx-auto py-20 ">
        <form action="#" method="POST">
            <label for="title">Título:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="body">Contenido:</label><br>
            <input th:name="${_csrf.getParameterName()}" type="hidden" th:value="${_csrf.getToken()}">
            <textarea id="body" name="body"></textarea><br><br>
            <input type="submit" value="Enviar">
        </form>
    </main>

</body>
</html>