<nav class="flex w-screen box-border md:justify-center md:fixed">
    <div class="flex justify-between m-3 rounded-lg w-screen box-border md:w-9/12">
        <span class="justify-self-start font-semibold text-white">Thiago Ianuzzi</span>
        <ul class="hidden md:inline-block">
            <li class="transition-all ease-in-out duration-300 inline-block pt-1 pb-1 pr-3 pl-3 cursor-pointer hover:rounded-full hover:bg-red-400 hover:shadow-2xl">
                <button class="text-white">Inicio</button>
            </li>
            <li class="transition-all ease-in-out duration-300 inline-block pt-1 pb-1 pr-3 pl-3 cursor-pointer hover:rounded-full hover:bg-red-400 hover:shadow-2xl">
                <button class="text-white">Blog</button>
            </li>
            <li class="transition-all ease-in-out duration-300 inline-block pt-1 pb-1 pr-3 pl-3 cursor-pointer hover:rounded-full hover:bg-red-400 hover:shadow-2xl">
                <button class="text-white">Acerca de</button>
            </li>
            <li class="transition-all ease-in-out duration-300 inline-block pt-1 pb-1 pr-3 pl-3 cursor-pointer hover:rounded-full hover:bg-red-400 hover:shadow-2xl">
                <button class="text-white">Servicios</button>
            </li>
        </ul>
        <div class="md:hidden">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>