<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio</title>
    <th:block th:replace="~{components/head}"> </th:block>
</head>
<body>
    <nav th:replace="~{components/navbar}"></nav>
    <header class="flex flex-col-reverse justify-center items-center h-screen bg-gray-900 lg:flex-row">
        <div class="inline-block m-4 lg:w-1/3">
            <h1 class="text-4xl text-white mb-4">¡Holaaa! 👋</h1>
            <h2 class="text-5xl text-balance text-white mb-3">Me llamo Thiago Ianuzzi</h2>
            <p class="text-white text-xl">
                Soy un apasionado por la informatica que se encuentra cursando el último año de su tecnicatura
                a la vez que comienza el primer año de la ingeniería, ambas en el campo de los sistemas.
            </p>
        </div>
        <img class="m-4 h-2/5" th:src="@{img/logo.png}" alt="logo">
    </header>
    <main class="container mx-auto">
    </main>
</body>
</html>